/*--Responsive--*/
@media (min-width: 1200px) {}
@media (min-width: 992px) and (max-width: 1199px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 576px) and (max-width: 767px) {}
/* MOBILE */
@media (max-width: 575px) {}
/*--Responsive--*/

html {
  scroll-behavior: smooth;
}

/* Scroll Top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 35px;
  right: 10px;
  font-size: 28px;
  z-index: 99;
  border: none;
  border-radius: 3.3rem;
  outline: none;
  background-color: rgba(254, 201, 87, 0);
  color: #b3b8c0;
  cursor: pointer;
}

/* #myBtn:hover {
  background-color: rgba(254, 201, 87, 0);
} */

.fa-angle-up {
  color: rgba(40, 40, 41, 0.829);
  height: 60px;
  width: 60px;
  background-color: rgba(198, 198, 200, 0.55);
  border-radius: 50%;
  display: inline-block;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.sticky-top {
  box-shadow: 5px 5px 5px rgba(153, 153, 153, 0.16);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

p,a {
  font-family: sans-serif;
  /* font-family: 'helvetica'; */
  /* font-family: 'Open Sans', sans-serif; */
}

h1, h2, h3, .nav-link {
  font-family: 'Raleway', sans-serif;
}

@media (min-width: 1200px) {
  /* Social Media Links Top */  
  .socialmedia-container {
    background-color:  #355e82;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.1rem;
  }

  #top-icons {
    text-align: right;
  }
  
  #top-text {
    margin-bottom: 0px;
    color:#fff;
  }

  .header-icons{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 9px;
    text-align: right;
  }

  .header-icons:hover {
    opacity: .5;
    text-decoration: none;
    color: rgb(0, 40, 77);
  }

  /* Navbar */
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(14, 16, 62, 0.28);
  }

  .nav-link {
    font-size: 1.3rem;
    color: black;
  }

  .navbar-brand {
    width: 370px;
  }

  #subheader {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: rgb(54, 94, 130);
  }

  .fa-home {
    color: rgb(124, 122, 122);
  }

  a#part1:hover {
    text-decoration: none;
  }

  .fa-home:hover {
    color: rgb(0, 0, 0);
  }

  #part2 {
    color: rgb(53, 94, 130);
  }

  #part2:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #part3 {
    color: rgb(53, 94, 130);
  }

  #part3:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #subheader p {
    margin: 0;
    margin-bottom: 1rem;   
  }

  #title {
    margin-top: 20px;
  }

  #title + p {
    font-size: 1rem;
  }

  span {
    color: rgb(69, 67, 67);
    font-weight: 600;
  }

  #blog-img {
    margin-top: 40px;
    padding: 250px 0 200px;
    background-image: url("images/photo-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #blog-text {
    margin-top: 50px;
  }

  #second-blog-text {
    margin-top: 20px;
  }
 
  #next-button, #prev-button {
    padding: 3px 25px;
    margin: 40px 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(50, 82, 141); 
    color: rgb(50, 82, 141);
  }

  #next-button:hover, #prev-button:hover {
    background-color: rgb(50, 82, 141);
    border-color: rgb(50, 82, 141); 
    color: rgb(255, 255, 255);
  }

 /* FOOTER */ 
 #footer {
  background-color: rgb(0,0,0);
  padding-bottom: 100px;
  padding-top: 100px;
}

#footer i {
  color: rgb(255, 255, 255);
  margin: 10px 0 25px;
  font-size: 1.7rem;
  padding-right: 10px;
}

#footer-logo img {
  width: 300px;
}

#footer-logo p {
  color: rgb(255, 255, 255);
  padding-top: 25px;
  font-size: 11px;
  opacity: .7;
}

#links h4, #media, #newsletter {
  font-weight: 600;
  color: rgba(76, 102, 187, 0.99); 
}

#links {
  padding: 0 0 0 85px;
} 

#links a:hover {
  color:rgba(109, 131, 160, 0.99);
}

#media {
  margin: 30px 0 0 0;
}

a.icons {
  text-decoration: none;
  color:rgb(255, 255, 255);
  padding-right: 15px;
}

#footer-icons.fa:hover {
  color:rgba(109, 131, 160, 0.99);
}

.footer-links {
  display: block;
  color: rgb(255, 255, 255);
}

.footer-links:hover {
  text-decoration: none;
}

#newsletter {
  margin-bottom: 13px;
}

#subscribe-btn {
  display: block;
  padding: 6px 0;
  margin: 0;
  color: white;
  background-color: rgb(6, 88, 140);;
  border-color: rgb(6, 88, 140);;
}

#subscribe-btn:hover {
  background-color: rgb(65, 112, 142);
  border-color: rgb(65, 112, 142);
}
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* Social Media Links Top */  
  .socialmedia-container {
    background-color:  #355e82;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.1rem;
  }

  #top-icons {
    text-align: right;
  }
  
  #top-text {
    margin-bottom: 0px;
    color:#fff;
  }

  .header-icons{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 9px;
    text-align: right;
  }

  .header-icons:hover {
    opacity: .5;
    text-decoration: none;
    color: rgb(0, 40, 77);
  }

  /* Navbar */
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(14, 16, 62, 0.28);
  }

  .nav-link {
    font-size: 1.3rem;
    color: black;
  }

  .navbar-brand {
    width: 370px;
  }

  #subheader {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: rgb(54, 94, 130);
  }

  .fa-home {
    color: rgb(124, 122, 122);
  }

  a#part1:hover {
    text-decoration: none;
  }

  .fa-home:hover {
    color: rgb(0, 0, 0);
  }

  #part2 {
    color: rgb(53, 94, 130);
  }

  #part2:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #part3 {
    color: rgb(53, 94, 130);
  }

  #part3:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #subheader p {
    margin: 0;
    margin-bottom: 1rem;   
  }

  #title {
    margin-top: 20px;
  }

  #title + p {
    font-size: 1rem;
  }

  span {
    color: rgb(69, 67, 67);
    font-weight: 600;
  }
  
  #blog-img {
    margin-top: 40px;
    padding: 250px 0 200px;
    background-image: url("images/photo-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #blog-text {
    margin-top: 50px;
  }

  #second-blog-text {
    margin-top: 20px;
  }

  #next-button, #prev-button {
    padding: 3px 25px;
    margin: 40px 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(50, 82, 141); 
    color: rgb(50, 82, 141);
  }

  #next-button:hover, #prev-button:hover {
    background-color: rgb(50, 82, 141);
    border-color: rgb(50, 82, 141); 
    color: rgb(255, 255, 255);
  }

  /* FOOTER */
  #footer {
    background-color: rgb(0,0,0);
    padding-bottom: 100px;
    padding-top: 100px;
  }

  #footer i {
    color: rgb(255, 255, 255);
    margin: 10px 0 25px;
    font-size: 1.7rem;
    padding-right: 10px;
  }

  #footer-logo img {
    width: 300px;
  }

  #footer-logo p {
    color: rgb(255, 255, 255);
    padding-top: 25px;
    font-size: 11px;
    opacity: .7;
  }

  #links h4, #media, #newsletter {
    font-weight: 600;
    color: rgba(76, 102, 187, 0.99); 
  }

  #links {
    padding: 0 0 0 85px;
  }

  #links a:hover {
    color:rgba(109, 131, 160, 0.99);
  }

  #media {
    margin-top: 30px;
  }

  a.icons {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding-right: 15px;
  }

  #footer-icons.fa:hover {
    color:rgba(109, 131, 160, 0.99);
  }

  .footer-links {
    display: block;
    color: rgb(255, 255, 255);
  }

  .footer-links:hover {
    text-decoration: none;
  }

  #newsletter {
    margin-bottom: 13px;
  }

  #subscribe-btn {
    display: block;
    padding: 6px 0;
    margin: 0;
    color: white;
    background-color: rgb(6, 88, 140);;
    border-color: rgb(6, 88, 140);;
  }
  #subscribe-btn:hover {
    background-color: rgb(65, 112, 142);
    border-color: rgb(65, 112, 142);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Social Media Links Top */  
  .socialmedia-container {
    background-color:  #355e82;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.1rem;
  }

  #top-icons {
    text-align: right;
  }
  
  #top-text {
    margin-bottom: 0px;
    color:#fff;
  }

  .header-icons{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 9px;
    text-align: right;
  }

  .header-icons:hover {
    opacity: .5;
    text-decoration: none;
    color: rgb(0, 40, 77);
  }

  /* Navbar */
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(14, 16, 62, 0.28);
  }

  .nav-link {
    font-size: 1.3rem;
    color: black;
  }

  .navbar-brand {
    width: 370px;
  }

  #subheader {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: rgb(54, 94, 130);
  }

  .fa-home {
    color: rgb(124, 122, 122);
  }

  a#part1:hover {
    text-decoration: none;
  }

  .fa-home:hover {
    color: rgb(0, 0, 0);
  }

  #part2 {
    color: rgb(53, 94, 130);
  }

  #part2:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #part3 {
    color: rgb(53, 94, 130);
  }

  #part3:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #subheader p {
    margin: 0;
    margin-bottom: 1rem;   
  }

  #title {
    margin-top: 20px;
  }

  #title + p {
    font-size: 1rem;
  }

  span {
    color: rgb(69, 67, 67);
    font-weight: 600;
  }

  #blog-img {
    margin-top: 40px;
    padding: 250px 0 200px;
    background-image: url("images/photo-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #blog-text {
    margin-top: 50px;
  }

  #second-blog-text {
    margin-top: 20px;
  }

  #next-button, #prev-button {
    padding: 3px 25px;
    margin: 40px 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(50, 82, 141); 
    color: rgb(50, 82, 141);
  }

  #next-button:hover, #prev-button:hover {
    background-color: rgb(50, 82, 141);
    border-color: rgb(50, 82, 141); 
    color: rgb(255, 255, 255);
  }

  /* FOOTER */
  #footer {
    background-color: rgb(0, 0, 0);
    padding-bottom: 100px;
    padding-top: 100px;
  }

  #footer i {
    color: rgb(255, 255, 255);
    margin: 10px 0 25px;
    font-size: 1.7rem;
    padding-right: 10px;
  }

  #footer-logo img {
    width: 300px;
  }

  #footer-logo p {
    color: rgb(255, 255, 255);
    padding-top: 25px;
    font-size: 11px;
    opacity: .7;
  }

  #footer-logo {
    margin-bottom: 25px;
    text-align: center;
  }

  #links h4, #media, #newsletter {
    font-weight: 600;
    color: rgba(76, 102, 187, 0.99); 
  }

  #links {
    text-align: center;
    margin-bottom: 25px;
  }

  #links a:hover {
    color:rgba(109, 131, 160, 0.99);
  }

  #media {
    margin-top: 30px;
  }

  a.icons {
    text-decoration: none;
    padding-right: 15px;
  }

  #footer-icons.fa:hover {
    color:rgba(109, 131, 160, 0.99);
  }

  .footer-links {
    display: block;
    color: rgb(255, 255, 255);
  }

  .footer-links:hover {
    text-decoration: none;
  }

  #newsletter {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 13px;
  }

  #subscribe-btn {
    display: block;
    padding: 6px 0;
    margin: 0;
    color: white;
    background-color: rgb(6, 88, 140);;
    border-color: rgb(6, 88, 140);;
  }

  #subscribe-btn:hover {
    background-color: rgb(65, 112, 142);
    border-color: rgb(65, 112, 142);
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  /* Social Media Links Top */  
  .socialmedia-container {
    background-color:  #355e82;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.1rem;
  }

  #top-icons {
    text-align: center;
  }
  
  #top-text {
    margin-bottom: 0px;
    color:#fff;
    text-align: center;
  }

  .header-icons{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 9px;
    text-align: right;
  }

  .header-icons:hover {
    opacity: .5;
    text-decoration: none;
    color: rgb(0, 40, 77);
  }

  /* Navbar */
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(14, 16, 62, 0.28);
  }

  .nav-link {
    font-size: 1.3rem;
    color: black;
  }

  .navbar-brand {
    width: 370px;
  }

  #subheader {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: rgb(54, 94, 130);
  }

  .fa-home {
    color: rgb(124, 122, 122);
  }

  a#part1:hover {
    text-decoration: none;
  }

  .fa-home:hover {
    color: rgb(0, 0, 0);
  }

  #part2 {
    color: rgb(53, 94, 130);
  }

  #part2:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #part3 {
    color: rgb(53, 94, 130);
  }

  #part3:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #subheader p {
    margin: 0;
    margin-bottom: 1rem;   
  }

  #title {
    margin-top: 20px;
  } 

  #title + p {
    font-size: 1rem;
  }

  span {
    color: rgb(69, 67, 67);
    font-weight: 600;
  }

  #blog-img {
    margin-top: 40px;
    padding: 250px 0 200px;
    background-image: url("images/photo-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #blog-text {
    margin-top: 50px;
  }

  #second-blog-text {
    margin-top: 20px;
  }

  #next-button, #prev-button {
    padding: 3px 25px;
    margin: 40px 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(50, 82, 141); 
    color: rgb(50, 82, 141);
  }

  #next-button:hover, #prev-button:hover {
    background-color: rgb(50, 82, 141);
    border-color: rgb(50, 82, 141); 
    color: rgb(255, 255, 255);
  }

   /* FOOTER */
   #footer {
    background-color: rgb(0, 0, 0);
    padding-bottom: 100px;
    padding-top: 100px;
  }

  #footer i {
    color: rgb(255, 255, 255);
    margin: 10px 0 25px;
    font-size: 1.7rem;
    padding-right: 10px;
  }

  #footer-logo img {
    width: 300px;
  }

  #footer-logo p {
    color: rgb(255, 255, 255);
    padding-top: 25px;
    font-size: 11px;
    opacity: .7;
  }

  #footer-logo {
    margin-bottom: 25px;
    text-align: center;
  }

  #links h4, #media, #newsletter {
    font-weight: 600;
    color: rgba(76, 102, 187, 0.99); 
  }

  #links {
    text-align: center;
    margin-bottom: 25px;
  }

  #links a:hover {
    color:rgba(109, 131, 160, 0.99);
  }

  #media {
    margin-top: 30px;
  }

  a.icons {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding-right: 15px;
  }

  #footer-icons.fa:hover {
    color:rgba(109, 131, 160, 0.99);
  }

  .footer-links {
    display: block;
    color: rgb(255, 255, 255);
  }

  .footer-links:hover {
    text-decoration: none;
  }

  #newsletter {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 13px;
  }

  #subscribe-btn {
    display: block;
    padding: 6px 0;
    margin: 0;
    color: white;
    background-color: rgb(6, 88, 140);;
    border-color: rgb(6, 88, 140);;
  }
  #subscribe-btn:hover {
    background-color: rgb(65, 112, 142);
    border-color: rgb(65, 112, 142);
  }
}

@media (max-width: 575px) {
  /* Social Media Links Top */  
  .socialmedia-container {
    background-color:  #355e82;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.1rem;
  }

  #top-icons {
    text-align: center;
  }
  
  #top-text {
    margin-bottom: 0px;
    color:#fff;
    text-align: center;
  }

  .header-icons{
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 0 9px;
    text-align: right;
  }

  .header-icons:hover {
    opacity: .5;
    text-decoration: none;
    color: rgb(0, 40, 77);
  }

  /* Navbar */
  .navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: rgba(14, 16, 62, 0.28);
  }

  .nav-link {
    font-size: 1.3rem;
    color: black;
  }

  .navbar-brand {
    width: 370px;
  }

  #subheader {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    color: rgb(54, 94, 130);
  }

  .fa-home {
    color: rgb(124, 122, 122);
  }

  a#part1:hover {
    text-decoration: none;
  }

  .fa-home:hover {
    color: rgb(0, 0, 0);
  }

  #part2 {
    color: rgb(53, 94, 130);
  }

  #part2:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #part3 {
    color: rgb(53, 94, 130);
  }

  #part3:hover {
    font-weight: bold;
    text-decoration: none;
  }

  #subheader p {
    margin: 0;
    margin-bottom: 1rem;   
  }

  #title {
    margin-top: 20px;
  }

  #title + p {
    font-size: 1rem;
  }

  span {
    color: rgb(69, 67, 67);
    font-weight: 600;
  }

  #blog-img {
    margin-top: 40px;
    padding: 250px 0 200px;
    background-image: url("images/photo-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #blog-text {
    margin-top: 50px;
  }

  #second-blog-text {
    margin-top: 20px;
  }

  #next-button, #prev-button {
    padding: 3px 25px;
    margin: 40px 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(50, 82, 141); 
    color: rgb(50, 82, 141);
  }

  #next-button:hover, #prev-button:hover {
    background-color: rgb(50, 82, 141);
    border-color: rgb(50, 82, 141); 
    color: rgb(255, 255, 255);
  }

  /* FOOTER */
  #footer {
    background-color: rgb(0, 0, 0);
    padding-bottom: 100px;
    padding-top: 100px;
  }

  #footer i {
    color: rgb(255, 255, 255);
    margin: 10px 0 25px;
    font-size: 1.7rem;
    padding-right: 10px;
  }

  #footer-logo img {
    width: 300px;
  }

  #footer-logo p {
    color: rgb(255, 255, 255);
    padding-top: 25px;
    font-size: 11px;
    opacity: .7;
  }

  #footer-logo {
    text-align: center;
    margin-bottom: 25px;
  }

  #links h4, #media, #newsletter {
    font-weight: 600;
    color: rgba(76, 102, 187, 0.99); 
  }

  #links {
    text-align: center;
    margin-bottom: 25px;
  }

  #links a:hover {
    color:rgba(109, 131, 160, 0.99);
  }

  #media {
    margin-top: 30px;
  }

  a.icons {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding-right: 15px;
  }

  #footer-icons.fa:hover {
    color:rgba(109, 131, 160, 0.99); 
  }

  .footer-links {
    display: block;
    color: rgb(255, 255, 255);
  }

  .footer-links:hover {
    text-decoration: none;
  }

  #newsletter {
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 13px;
  }

  #subscribe-btn {
    display: block;
    padding: 6px 0;
    margin: 0;
    color: white;
    background-color: rgb(6, 88, 140);;
    border-color: rgb(6, 88, 140);;
  }
  #subscribe-btn:hover {
    background-color: rgb(65, 112, 142);
    border-color: rgb(65, 112, 142);
  }
}
